{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "airbnb"
  ],
  "plugins": ["@typescript-eslint", "react"],
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "prama": "React",
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "tsx": true
    }
  },
  "rules": {
    "prettier/prettier": "off",
    "quotes": ["error", "double"],
    "import/no-unresolved": ["off"],
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "react/prop-types": "off",
    "import/extensions": "off",
    "max-len": ["error", { "code": 100, "tabWidth": 2, "ignoreComments": true }],
    "import/prefer-default-export": "off",
    "operator-linebreak": "off",
    "object-curly-newline": "off",
    "react/jsx-indent": "off",
    "indent": "off",
    "arrow-body-style": "off",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/ban-types": "off"
  }
}
